# API endpoint URL
API_URL=https://client.badssl.com

# Absolute path to client certificate
CERTIFICATE_PATH=/absolute/path/to/client.pem

# Absolute path to private key
CERTIFICATE_KEY_PATH=/absolute/path/to/client-key.pem

# Private key passphrase
KEY_PASSPHRASE=badssl.com

# HMAC secret key
HMAC_SECRET=secret-key